h2, p{
    text-align: center;
}

h2{
    font-size: 1.4rem;
}

img{
    align-self: center;
    width: 220px;
}
.Card{
    display: flex;
    flex-direction: column;
    background: rgb(165, 235, 165);
    border-radius: 12px;
    padding: 3px;
    margin: 5px 5px;
    width: 270px;
    height: 350px;
    transition: all 400ms;
}

.Card:hover{
    transform: rotate3d(0, 1, 0, 30deg);
    box-shadow: 10px 10px 5px rgba(70, 20, 80, 0.45);
}