h2, p{
    text-align: center;
}

img{
    /* margin-left: auto;
    margin-right: auto;
    display: block; */
    align-self: center;
}
.Card{
    display: flex;
    flex-direction: column;
    background: rgb(165, 235, 165);
    border-radius: 12px;
    padding: 3px;
    margin: 10px 10px;
    width: 300px;
    height: 350px;
    transition: all 400ms;
}

.Card:hover{
    transform: rotate3d(0, 1, 0, 30deg);
    box-shadow: 10px 10px 5px rgba(70, 20, 80, 0.45);
}