body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background : linear-gradient(to bottom, rgb(0, 182, 255), rgb(25, 37, 76)) no-repeat center center fixed;
  background-size: cover;
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin: 1vh 10vw;
  padding: 1vw;
  justify-items: center;
}

main{
  display: flex;
  flex-direction: column;
}

header{
  text-align: center;
  margin: 3vh 0vw;
}

@import url(//db.onlinewebfonts.com/c/b593a614952261da06c53a02d1954f44?family=SEGA+LOGO+FONT);
@font-face {font-family: "SEGA LOGO FONT"; src: url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.eot"); src: url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.woff") format("woff"), url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b593a614952261da06c53a02d1954f44.svg#SEGA LOGO FONT") format("svg"); }

h1{
  font-family: 'SEGA LOGO FONT';
  font-size: 10vh;
}