body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin: 1vh 10vw;
  padding: 1vw;
  justify-items: center;
}

main{
  display: flex;
  flex-direction: column;
}

header{
  text-align: center;
  margin: 3vh 0vw;
}